/* CSS Document */
 *{ padding:0; margin:0;}
a{text-decoration:none;}
li,ol{ list-style:none;}
b,strong{ font-weight:normal;}
i,em{ font-style:normal;}
.clearfix:after{ display:block;content:'';height:0; clear:both; visibility:hidden; }
.clearfix{ zoom:1;}
li{ list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{text-decoration:none; }
input,select{resize:none;}
img{ border:0;}
.fl{ float:left; }
.fr{ float:right;}
input{border:0; outline:none; background:none;}
table{ border-collapse:collapse;text-align:center; vertical-align:middle;} 
body{font-family:"Microsoft Yahei", Tahoma, "\5b8b\4f53", Arial, Helvetica;font-size:12px;}
